body {
  background-color: black;
  margin: 0 0;
  padding: 0 0;
}
header {
 background-color: #8D4559;
  width: 100%;
  position: fixed;
  top: 0;
  text-align: center;
}
.breadcrumb {
  text-align: center;
}
.breadcrumb >li {
  display: inline-block;
  padding: 4px;
}
.breadcrumb a {
  text-decoration: none;
  color: white;
  border-radius: 15px;
  background-color: #420420;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  padding: 19px;
  margin: auto;
  display: inline-block;
  cursor: pointer;
}
.breadcrumb :hover{
  background-color: #F1A8A7;
  color: black;
}
.breadcrumb :active{
  font-size: 18px;
}
h1 {
  color: white;
  text-align: center;
  padding-top: 140px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2 {
  font-family: 'Courier New', Courier, monospace;
}
h3 {
  color: #FFB3BA;
  text-align: center;
}
.flex-container {
width: 50%;
height: auto;
display: flex;
flex-direction: column;
justify-items: center;
}

.flex-box {
  display: flex;
  width: 100%;
  line-height: normal;
  border: 5px solid #FFB3BA;
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  justify-content: space-evenly;
  margin: 10px;
  margin-left: 280px;
  }

/* Color blocks */
/* CSS HEX
--Maroon: #420420;
--Cranberry: #8D4559;
--Pink: #FFB3BA;
*/
.itemOne {
  background-color: #420420;
  width: 25%;
  border-radius: 15px;
  color: white;
}
.itemTwo {
  background-color: #8D4559;
  width: 25%;
  border-radius: 15px;
  color: white;
}

.itemThree {
  background-color: #FFB3BA;
  width: 25%;
  border-radius: 15px;
  color: white;
}
/* Fonts */
p.font-family-1, p.font-family-2 {
  text-decoration: underline;
  margin: 0%;
}

.font-family-1 p {
  font-family: 'Ruda';
  justify-content: center;
}

.font-family-2 p {
  font-family: 'Roboto Slab';
}

/* FOOTER */

footer {
  text-align: center;
  padding: 10px;
  background-color: #F4B9B8;
  margin-top: 5%;
  font-size: 12px;
}
/* Text Styles */